table, th, td {
    
    border-collapse: collapse;
    text-align: center;
    font-family: "Roboto", "Open Sans", sans-serif;
    padding: 10px;
  }
  

  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgb(6 5 34);
    
  }
 

@media(max-width:1000px) {
  table{
    padding: 4px;
  }
}