<div class="background">
  <div *ngIf="!loader">
     <app-loader></app-loader>
  </div>
  <div  *ngIf="loader">
  <app-search [Cities]="Cities" [City]="City" (selectedcity)="setselectedcity($event)"></app-search>
<div class="divWeatherMain" >
        <div style="flex: 1;padding: 5px 20px;">
            <app-nowweather [WeatherData]="WeatherData" >
            </app-nowweather>
        </div>
        <div class="todayweather" style="flex: 1;">
          <app-todayweather [WeatherData]="WeatherData">

          </app-todayweather>
        </div>

</div>
<div style="display: flex;flex-direction: row;justify-content: center;background-color: #080a3e;">
  <app-weeklyweather [WeatherData]="WeatherData">   
  </app-weeklyweather>
</div>
</div>
</div>
