.divWeatherMain{
    display: flex;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
    color: white;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.todayweather{
    padding: 62px;
}
@media  (max-width: 600px){
    .divWeatherMain{
        display: block;
        width: fit-content;
        height: fit-content;
    }
    .todayweather{
        padding: 0;
    }

}
