.rcorners1 {
    border-radius: 25px;
    background: rgb(6 5 34);
    color: white;
    padding: 20px; 
    width: 50%;
    font-family: "Roboto", "Open Sans", sans-serif;
    margin-top: 20px !important;
    height: fit-content;  
    margin: auto;
  }

  body {
    min-height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #080a3d;
    font-family: "Roboto", "Open Sans", sans-serif;
}

.container {
    width: fit-content
}

.card {
    padding: 1.2rem 3rem 1rem 3rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border-color: white;
    color: #080a3d;
    background-color: white;
    
    
}
td, th{
    justify-content: center;
    text-align: center;
    
    font-family: "Roboto", "Open Sans", sans-serif;
}
td{
    white-space: nowrap;

}





.temp {
    font-size: 5rem;
    color: rgb(57, 57, 58)
}


@media  (max-width: 1000px){
    .rcorners1{
        width: 100%;
        margin-top: 30px !important;

    }

}

@media(max-width:767px) {
    .card {
        height: auto;
        padding: 1.5rem 1.5rem 1rem 1.5rem
    }
}