<div class="rcorners1">
    <p>Check out week's weather information in {{City}}</p>
    <div > 
    <app-linechart ></app-linechart> 
    </div>
    <p>More details of the weather for this week</p>
    <div>
        <div>
           <h3 style="color:white;text-align: center;">
            Weekly weather
           </h3> 
        </div>
        <div class="card card-2">
        
            <table style="width:100%">
                <tr>
                    <th>Date</th>
                    <th>Max. Temperature</th>
                    <th>Min. Temperature</th>
                    <th>Avg. Temperature</th>
                    <th>UV Index</th>
                </tr>
                <tr *ngFor = "let day of data" >
                    <td >
                      {{day.date}}
                    </td>
                    <td>
                        {{day.maxtempC}}°
                    </td>
                    <td >
                        {{day.mintempC}}°
                    </td>
                    <td >
                        {{day.avgtempC}}°
                    </td>
                    <td>
                        {{day.uvIndex}}
                    </td>
                </tr>
               
               
              </table>
            </div>
    </div>
</div>

